// GENERAL PROJECT STYLES
body {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 16px;
  line-height: 162%;
  overflow-x: hidden;

  position: relative;

  min-width: 320px;

  color: $textcolor;
}

.container {
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}

.no-xl {
  display: none;
}

.no-scroll {
  overflow-y: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

@media (max-width: $tablet) {
  .no-md {
    display: none;
  }

  .md {
    display: inline-block;
  }
}

@media (max-width: $mobile) {
  .no-xs {
    display: none;
  }

  .xs {
    display: inline-block;
  }
}

@media (max-width: $tablet) {
}

@media (max-width: $mobile) {
}
